.navbar {
  justify-content: space-between;
  margin-bottom: 1em;
  /* background-color:#ffc000; */
}

.spanNav {
  padding-right: 1em;
}

/* Couleur du singe:
#ffc000; */

/*Couleur sympa material jaune
#d8ae5e
*/
