<header class="mdc-top-app-bar mdc-top-app-bar--short mdc-top-app-bar--short-collapsed">
  <mat-toolbar color="darck">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <mat-icon svgIcon="robot"></mat-icon>
    <a mat-button routerLink="/home">
      <h1>Accueil</h1>
    </a>
    <a routerLink="/manager" mat-button>
      <h2>avis</h2>
    </a>
    <a routerLink="/manager" mat-button>
      <h2>Jeux</h2>
    </a>
    <span class="flex-spacer"></span>
    <button mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>lock_open</mat-icon>
    </button>
  </mat-toolbar>
</header>
<mat-slider min="1" max="100" step="1" value="50"></mat-slider>
