.welcome{
  margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
  transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
  text-align: center;

}
.welcome1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 25px;
  margin: 1em auto;
}

.welcome2{
  font-size: 50px;
}

.home-btn {
  margin:0 auto;
  margin: 10em auto;
  display: flex;
  justify-content: space-evenly;
}

.home-btn-item {
  flex-direction: row;
  border-radius: 50px;
  padding: 1em;
}

.home-btn-item-a {
  text-decoration: none;
  color:#d8d7d9;
}
