<div class="welcome">
  <p class="welcome1">Bienvenue</p>
  <p class="welcome1">chez</p>
  <p class="welcome2 welcome1">BestGameReviews</p>
  <div class="home-btn">
    <button mat-raised-button color="accent" class="home-btn-item">
      <a class="home-btn-item-a" routerLink="/user/inscription">S'inscrire</a>
    </button>
    <button mat-raised-button color="accent" class="home-btn-item">
      <a class="home-btn-item-a" routerLink="/user/connexion">Se connecter</a>
    </button>
  </div>
</div>

