

.mat-form-field {
  margin-left: 8px;
  width: 90%;
  justify-content: center;
}

.formField {
  display: flex;
  flex-direction: column;
  padding: 2em;
  width: 30em;
  margin-top: 35vh; /* poussé de la moitié de hauteur de viewport */
  transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
  justify-content: center;
}

form {
  width: 50%;
  margin: 0 auto;
}

.connexionCard {
  min-height: 90vh;
}

.submitButton {
  padding: 1em;
  height: 60px;
  width: 200px;
}

.invalidForm{
  width: 90%;
}


.myForm {
  display: flex ;
  justify-content: center;
}
