<div class="{{theme}} connexionDiv">
  <mat-card class="{{theme}} connexionCard">
    <form class="myForm" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
      <fieldset class="formField">
      <legend>Connexion</legend>

        <mat-form-field appearance="fill">
          <mat-label>Entrez votre email</mat-label>
          <input matInput placeholder="ceci-est-un@example.com" [formControl]="$any(email)" required>
          <mat-error color="accent" *ngIf="!email.valid">Cet email est invalide</mat-error>
          <mat-error color="accent" *ngIf="email.hasError('required')">L'email est requis</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" >
          <mat-label>Entrez votre mot de passe</mat-label>
            <input matInput required [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <div *ngIf="!myForm.valid">Form is invalid</div>
      <!-- <mat-error color="accent" class="invalidForm" *ngIf="!myForm.valid">Form is invalid</mat-error> -->
      <button class="submitButton" type="submit" [disabled]="email.invalid">Submit</button>
      </fieldset>
      </form>
</mat-card>
</div>
