


<h1 class="welcome">Bienvenue sur le site de </h1>
<div class="main-container">
<div class="logo">
  <img class="logoImg"
  src="../../assets/logoFinal.png"
  alt="logo BestGameReviews">

</div>

<div class="btnDiv">
  <a mat-stroked-button classname="test" href="" target="_blank">S'inscrire'</a>
  <a mat-raised-button href="" target="_blank">Se connecter</a>

  <a mat-stroked-button href="https://www.google.com/" target="_blank">test</a>
  <a mat-stroked-button href="https://www.google.com/" target="_blank">Celuilà</a>
</div>
<a href="#" class="buttonHome">connexion</a>
</div>
