.welcome{
  text-align: center;
  margin-bottom: 2em;
}

.main-container{
  display:flex;
}

.logo {
  display: flex;
}

.logoImg {
  width: 300px;
  border-radius: 50px;
  margin: 0 auto;
  box-shadow: 2px 2px 19px 5px rgba(112,106,112,1);
}

/* .btnDiv {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
} */

.test {
  border: solid 1px white;
}

/* .btnDiv {
  display: flex;
}

.buttonHome {
  justify-content: center;
	box-shadow: 0px -2px 0px 0px #1c1b18;
	background:linear-gradient(to bottom, #fafafa 5%, #ffffff 100%);
	background-color:#fafafa;
	border-radius:15px;
	border:1px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:1px 3px 1px #ffffff;
}


.myButton:hover {
	background:linear-gradient(to bottom, #f2f1ed 5%, #f0ead8 100%);
	background-color:#f2f1ed;
}
.myButton:active {
	position:relative;
	top:1px;
} */



