<div class="div-notFound">
  <p class="notFound">GAME OVER</p>
  <div class="notFound-img">
    <div class="notFound-img-item">
      <img  src="/assets/img/icones/icons8-hear-no-evil-monkey-48.png" alt="Image d'un singe les mains sur les oreilles" />
    </div>
    <div class="notFound-img-item">
      <img src="/assets/img/icones/icons8-see-no-evil-monkey-48.png" alt="Image d'un singe les mains sur les yeux" />
  </div>
    <div class="notFound-img-item">
      <img src="/assets/img/icones/icons8-speak-no-evil-monkey-48.png" alt="Image d'un singe les mains sur la bouche" />
  </div>
  </div>
  <p class="notFound">TRY AGAIN</p>
  <div class="notFound-btn">
    <button mat-raised-button color="accent" class="notFound-btn-item">
      <a class="notFound-btn-item-a" [routerLink]="'/home'">Retour à la page d'accueil</a>
    </button>
  </div>
</div>
