@use '@angular/material' as mat;

@include mat.core();

// Define a light theme
$light-primary: mat.define-palette(mat.$amber-palette, 500);
$light-accent: mat.define-palette(mat.$pink-palette);
$light-warn: mat.define-palette(mat.$red-palette);
$light-theme: mat.define-light-theme($light-primary, $light-accent, $light-warn);
// $light-theme-background-color:#FFFFFF;

// Define a dark theme
$dark-primary: mat.define-palette(mat.$amber-palette, 200);
$dark-accent: mat.define-palette(mat.$gray-palette, 900);
$dark-warn: mat.define-palette(mat.$red-palette,50);
$dark-theme: mat.define-dark-theme($dark-primary,$dark-accent,$dark-warn);

// Apply the dark theme by default
@include mat.all-component-themes($dark-theme);
// @include mat.button-theme($dark-theme);

// Apply the light theme only when the `.my-light-theme` CSS class is applied
// to an ancestor element of the components (such as `body`).
.light-theme {
 @include mat.all-component-themes($light-theme);
}
