// // @use 'palette-helper';
// @use '@angular/material' as mat;

// @include mat.core();


// // Define a light theme
// $light-primary: mat.define-palette(mat.$teal-palette, 900);
// $light-accent: mat.define-palette(mat.$purple-palette, 600);
// $light-warn: mat.define-palette(mat.$red-palette,700);
// $light-theme: mat.define-light-theme((
//   color: (
//     primary: $light-primary,
//     accent: $light-accent,
//     warn: $light-warn
//   )
// ));

// // // $light-theme: palette-helper.modify-background($light-theme, white);
// // // $light-theme-background-color:#FFFFFF;

// // Define a dark theme
// // $dark-primary: mat.define-palette(mat.$teal-palette, 200);
// // $dark-accent: mat.define-palette(mat.$purple-palette, 200);
// // $dark-warn: mat.define-palette(mat.$red-palette,700);

// // $dark-theme: mat.define-dark-theme((
// //   color: (
// //     primary: $dark-primary,
// //     accent: $dark-accent,
// //     warn: $dark-warn
// //   )
// // ));
// $dark-primary: mat-palette($mat-deep-purple,600);
// $dark-accent: mat-palette($mat-pink,100);
// $dark-warn: mat-palette($mat-red,100);
// // // $dark-theme: palette-helper.modify-background($dark-theme, #202124);
// $dark-theme: mat-dark-theme($dark-primary,$dark-accent,$dark-warn);
// // Apply the dark theme by default
// // @include mat.all-component-themes($dark-theme);
// // @include mat.button-theme($dark-theme);
// @include angular-material-theme($dark-theme);


// // Apply the light theme only when the `.my-light-theme` CSS class is applied
// // to an ancestor element of the components (such as `body`).
// .light-theme {
//  @include mat.all-component-themes($light-theme);
//  @include mat.button-theme($light-theme);
// }




// // pour utiliser une palette totelement custom
// // @import './palette.scss';
// // @import '../node_modules/@angular/material/theming';

// // @include mat-core();

// // $dark-theme-primary: mat-palette($md-primary);
// // $dark-theme-accent: mat-palette($md-accent);
// // $dark-theme-warn: mat-palette($md-warn);
// // $dark-theme:mat-dark-theme($dark-theme-primary,$dark-theme-accent,$dark-theme-warn);
// // @include angular-material-theme($dark-theme);
