<div class="{{theme}} connexionDiv">
  <mat-card class="{{theme}} inscriptionCard">
    <form class="myForm" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
      <fieldset class="formField">
      <legend>Inscription</legend>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Indiquez un pseudo</mat-label>
          <input matInput placeholder="pseudo" required>
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Entrez votre email</mat-label>
          <input matInput placeholder="ceci-est-un@example.com" [formControl]="$any(email)" required type=email>
          <mat-error color="accent" *ngIf="!email.valid">Cet email est invalide</mat-error>
          <mat-error color="accent" *ngIf="email.hasError('required')">L'email est requis</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label for="dob">Entrez votre date de naissance</mat-label>
          <input matInput [matDatepicker]="dob" placeholder="Selectionner une date" [max]="tomorrow"  readonly required>
          <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
      <mat-datepicker #dob></mat-datepicker>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill" >
          <mat-label>Entrez votre mot de passe</mat-label>
            <input matInput required placeholder=" Indiquez un mot de passe" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill" >
          <mat-label>Confirmez votre mot de passe</mat-label>
            <input matInput required placeholder="Confirmez votre mot de passe" [type]="hide ? 'confirmPassword' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <!-- <mat-error *ngIf="confirmPassword.hasError('required')">Please confirm your password</mat-error>
            <mat-error *ngIf="confirmPassword.invalid && !confirmPassword.hasError('required')">Passwords don't match</mat-error> -->
        </mat-form-field>
      </p>
        <!-- <div *ngIf="!myForm.valid">Form is invalid</div> -->
      <!-- <mat-error color="accent" class="invalidForm" *ngIf="!myForm.valid">Form is invalid</mat-error> -->
      <button  mat-raised-button color="primary" class="submitButton" type="submit" [disabled]="email.invalid" >Submit</button>
      </fieldset>
      </form>
</mat-card>
</div>
